 body {
        padding-top: 60px;
        padding-bottom: 40px;
}

.navbar-inner{
        min-height: 50px;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
        ilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.topnav{
        /*background: url(../img/logo.png) no-repeat;*/
        display: block;
        width: 118px;
        height: 50px;
       text-indent: -1000px;
}

#footer{
        width:700px;
        margin:0 auto;
        padding-bottom:15px;
        text-align:center;
}

#apiList {
    height: 640px;
}

#apiList li {
    cursor:pointer;
}

#apiList li.nav-header {
    cursor:default;
}
