
{% extends "static/view/mybase.html" %}
{% block title %}weibo api debugger{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list" id="apiList">
                    {% if g_api %}
                    {% for key in g_api %}
                        <li><a>{{key}}</a></li>
                    {% endfor %}
                    {% else %}
                        <li><a>statuses/user_timeline</a></li>
                        <li class="active"><a>users/show</a></li>
                        <li><a>users/domain_show</a></li>
                        <li><a>users/counts</a></li>
                    {% endif %}
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <h1>API: <span id="apiTitle"></span></h1>
            <br>
            <div class="well form-inline">
                <input type="text" class="input-small hide" placeholder="参数">
                <input type="text" class="input-small hide" placeholder="值">
                <button class="btn btn-primary hide" id="addParam">添加</button>
                <label class="checkbox">URL: <span id="apiUrl"></span></label>
                <button class="btn btn-primary pull-right" id="excute">执行</button>
            </div>

            <br>
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#collapsedJson">collapsedJson</a></li>
              <li><a href="#formatedJson">formatedJson</a></li>
              <li><a href="#rawJson">rawJson</a></li>
            </ul>
            <div class="tab-content">
              <pre class="tab-pane active well" id="collapsedJson"></pre>
              <pre class="tab-pane prettyprint linenums lang-js well" id="formatedJson"></pre>
              <pre class="tab-pane well" id="rawJson"></pre>
            </div>
        </div><!--/span-->

    </div><!--/row-->
</div><!--/.fluid-container-->
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}