<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet" />
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/jsonview.css" rel="stylesheet" >

        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/google-code-prettify/prettify.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-tab.js"></script>
        <script type="text/javascript" src="/static/js/jsonview.js"></script>
        <script type="text/javascript" src="/static/js/jsonview-collapse.js"></script>
        <script type="text/javascript" src="/static/js/weibo-api-debugger.js"></script>
        {% endblock head %}
    </head>

    <body>
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">微博API调试器</a>
                    <div class="nav pull-right">
                        <ul class="nav">
                            {% if not username %}
                            <li class>
                                <a href="/login_to_weibo">Log In</a>
                            </li>
                            {% endif %}
                            {% if profile_image_url %}
                            <li class>
                                <img href="{{profile_image_url}}"/>
                            </li>
                            {% endif %}
                            {% if username %}
                            <li class>
                                <a href="#">{{username}}</a>
                            </li>
                            <li class>
                                <a href="/logout">Log Out</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="topnav">
                    </div>
                </div>
            </div>
        </div>
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        <hr>
        <div id="footer">
            Copyright &copy; gzb1985. 
            <span>微博API调试器</span><a target="_blank" href="https://github.com/gzb1985/weibo-api-debugger">源码</a><br/>
            <a target="_blank" href="http://open.weibo.com/wiki/API%E6%96%87%E6%A1%A3_V2">Weibo API开发文档</a><br/>
        </div>
        {% endblock footer %}
    </body>
</html>